@charset "ISO-8859-1";
@import url("comun.css");

body{
	width: 100vw;
	min-height: 100vh;
	justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(rgb(0, 128, 192), rgb(0, 64, 128));
    margin:0; 
    text-align:center;
    color: #ECDFDE; 
  }


.header {
    display: flex;
    background: linear-gradient(rgb(0, 128, 192), rgb(0, 64, 128));
    font-family: sans-serif;
    color: #ECDFDE;
    padding-left:0.5em;
  }
  
#cierreSesion{
	margin-left: 51em;
	padding-top:1em;
}
  


img{
	width: 30%;
	display:block;
	margin:auto;
	height:auto;
	margin-top:0.4em;
	opacity: 0.6;
}

#mario{
			width:40%; 
			opacity:0.9;
			margin-top:-1.4em;
		}

table{
		margin:auto;
		text-align: left;
	 }

td{
	padding-right:0.6em; 
	padding-left:0.6em; 
	padding-bottom:0,4em; 
	padding-top:0.4em;
  }
  

  
input{
    	width:3.5em;
    	margin-left:1em;
	 }


#boton, #salir{
  	   width: 10em;
       background-color: rgb(255, 128, 128); 
       border-radius: 60%;
       margin:0;
	}


#boton{
	margin-left: 12.5em;
	}
	
#destino{
	font-weight:bold;
}

#datos{
		width:35%;
		text-align: left;
		margin-left:26em;
		padding-left:0.5em;
		border-style: groove;
		margin-bottom:1em;
}

#escondido{
	display: none;
	width: 70%;
	float:right;
}

#tambienEscondido{
	display:none;
}

a:link {
color: #ECDFDE ;
text-decoration: none;
}

a:visited {
color: #8C8181; 
text-decoration: none;
}
