@charset "UTF-8";
body{
	width: 100vw;
	min-height: 100vh;
	justify-content: center;
    font-family: sans-serif;
    background: linear-gradient(rgb(0, 128, 192), rgb(0, 64, 128));
    margin:0; 
  }


.header {
    display: flex;
    background: linear-gradient(rgb(0, 128, 192), rgb(0, 64, 128));
    font-family: sans-serif;
    color: #ECDFDE;
    padding-left:0.5em;
  }
  


img{
	width: 30%;
	display:block;
	margin:auto;
	height:auto;
	margin-top:10em;
	opacity: 0.6;
}



form{
  flex-direction: rows;
  justify-content: right;
  align-items: center;
  margin-left:45em;
}

#label1{
	margin-left: 1.5em;
}

#boton{
	margin-left:6.5em;
	background-color: rgb(255, 128, 128); 
    border-radius: 60%;
}
