<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Historial</title>
<link rel='stylesheet' type='text/css' href="error.css">
<style>
#chunli{width:15%; opacity:0.8;}
</style>
</head>
<BODY>
<div class='header'>
<div>
<h3>La retroteca: Juegos clásicos</h3>
</div>
<div id="inicio">
<a href="/inicioApp"> 
<input id="salir" type="submit" value="Ir a inicio"/>
</a>
</div>
<div id="cierreSesion">
<a href="/"> 
<input id="salir" type="submit" value="Cerrar sesión"/>
</a>
</div>
</div>
<div id="gifs">
<img id='chunli' src='https://i.imgur.com/nMCQCyC.gif'>
</div>
<BR>
<h1 th:text="${not #lists.isEmpty(pedidos)} ? 'Estos son tus pedidos '+ ${usuario.nick} : 'No tienes pedidos '+${usuario.nick} "></h1>
<br><br><br>
<form th:action="@{/historial}" method="post">  
<span th:each="pedido : ${pedidos}">
<h4 th:text="${pedido}"></h4>
<a th:href="@{/historial/edit/{id}(id=${pedido.referencia})}">
<input id="boton" type="button" name="edit" value="Editar"/>
</a>
<input type="hidden" th:value="${pedido.referencia}" th:name="idBorrado" th:id="idBorrado" />  		
<input id="boton" type="submit" name="borrar" value="Borrar"/>
</form>
</span>
<br><br>
</BODY>
</HTML>
